* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

/* nav */
nav {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 27px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}
.logo {
  display: flex;
  align-items: center;
}
.logo > .spacer {
  width: 20px;
}
.icons {
  margin-left: auto;
}
.icons > a {
  margin-left: 10px;
  text-decoration: none;
  color: #4F4F4F;
  cursor: pointer;
}
.icons > a:visited {
  color: #4F4F4F;
}
.icon-text {
  display: none;
}
@media (min-width: 992px) {
  .icon-text {
    display: inline-block;
  }
}
/* nav */

/* search-area */
.search-area {
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0;
}
.search-row {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  font-size: 27px;
  color: #828282;
  margin-bottom: 30px;
}
.search-title {
  font-size: 36px;
  color: #4F4F4F;
}
.search-row-25 {
  width: 23%;
}
.search-row-50 {
  width: 48%;
  position: relative;
}
.search-row-75 {
  width: 73%;
}
.dropdownContainer {
  position: absolute;
  margin-left: 37px;
  width: calc(100% - 74px);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
.dropdownOpt {
  z-index: 100;
  background-color: white;
  padding: 8px 12px;
}
.dropdownOpt:hover {
  background-color: #FFB865;
  color: #4F4F4F;
  cursor: pointer;
}

.btn {
  width: 100%;
  border-radius: 300px;
  height: 80px;
  padding: 0 37px;
}
.btnInput {
  background-color: #FFB865;
  color: white;
  border: none;
  font-size: 27px;
}
.btnClick {
  background-color: unset;
  color: #FF7144;
  border: 5px solid #FF7144;
  font-size: 42px;
}
.btnClick:hover {
  cursor: pointer;
  background-color: #FFB865;
  color: white;
}

.op0 {
  opacity: 0;
}
input:focus {
  outline: none;
}
::placeholder {
  color: white;
}
/* search-area */

/* main */
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
}
.cards {
  width: 70vw;
  position: relative;
  display: flex;
  flex-direction: column;
}
.cards > h3 {
  font-size: 36px;
  color: #4F4F4F;
  margin-bottom: 30px;
}
.cards-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  display: inline-block;
  width: 32%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #F2F2F2;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
.card-img {
  position: relative;
}
.card-img > img {
  border-radius: 20px 20px 0 0;
}
.like, .liked {
  position: absolute;
  right: 14px;
  top: 8px;
}
.like:hover, .liked:hover {
  cursor: pointer;
}
.like > .iconify {
  color: white;
}
.liked > .iconify {
  color: red;
}
.description {
  padding: 12px;
  color: #4F4F4F;
  text-overflow: ellipsis;
  overflow-y: hidden;
}
.description > .name {
  font-size: 27px;
}
.description > .area {
  font-size: 18px;
  margin: 8px 0;
}
.description > .intro {
  font-size: 18px;
  line-height: 1.3em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow-y: hidden;
}

.more-row {
  height: 60px;
}
.more > .iconify {
  color: white;
  font-size: 42px;
}
.more-hotels::before {
  content: '更多旅宿';
}
.more-foods::before {
  content: '更多餐飲';
}
.more-activities::before {
  content: '更多活動';
}
.more {
  font-size: 27px;
  position: absolute;
  right: 0;
  border-radius: 300px;
  padding: 6px 14px 6px 0;
  background-color: #FFB865;
  transition: background-color 0.5s;
}
.more::before {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  margin: 4px 2px 4px 18px;
  opacity: 0;
  max-width: 0;
  transition: opacity 0.5s, max-width 0.5s;
}
.more:hover {
  cursor: pointer;
  background-color: #FF7144;
  transition: background-color 0.5s;
}
.more:hover::before {
  opacity: 1;
  max-width: 500px;
  transition: opacity 1.2s, max-width 1.2s;
}
/* main */

footer {
  background-color: #FFB865;
  color: #828282;
  padding: 8px 24px;
  position: sticky;
  bottom: 0;
}
